@page
@model VoterPortal.Pages.Users.ListModel
@{
}

<h1>Users</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    @foreach(var user in Model.Users)
    {
<tr>
    <td>@user.Username</td>
    <td>@user.FirstName @user.LastName</td>
    <td>@user.Email</td>
    <td>
        <a class="btn btn-lg" asp-page="./Detail" asp-route-userId="@user.UserId">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>
    </td>
    <td>
        <a class="btn btn-lg" asp-page="./Edit" asp-route-userId="@user.UserId">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
    </td>
</tr>
    }
</table>